/* main css */

html {
  font-size: 18px;
  margin: auto;
  font-family: helvetica;
  color: white;
}

/* header css */

header {
  background-color: black;
}

.header-container {
  display: flex;
  align-items: center;
  width: 960px;
  margin: auto;
}

header img {
  height: 1.5rem;
  margin-left: 0.5rem;
}

header p {
  font-size: 1rem;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
  margin-left: 1rem;
  text-transform: uppercase;
}

/* main banner */

.main-banner {
  background-image: url('../images/moto.jpeg');
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-banner-container {
  background-color: black;
  display: inline-block;
  width: 25rem;
  margin-top: 9rem;
}

.container {
  width: 960px;
  margin: auto;
  text-transform: uppercase;

}

.main-banner-container h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 2rem 0rem 0.25rem 3rem;
}

.main-banner-container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0rem 0rem 2rem 3rem;
}

.navigation {
  background-color: firebrick;
}

.navigation2 {
  background-color: firebrick;
}


.navigation nav {
  width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.navigation2 nav {
  width: 960px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

nav a {
  color: white;
  text-decoration: none;
}

/* product grid */


.product-container {
  display: flex;
  width: 960px;
  justify-content: space-between;
  margin: auto;
  margin-top: 3rem;
}

.product-item {
  width: 30%;
  border: 4px solid black;
  height: 13rem;
  width: 13rem;
  text-align: center;
}

.product-item img {
  height: 8rem;
  padding-top: 2rem;
}
.product-item h3 {
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

 .product-item3 {
  width: 30%;
  border: 4px solid black;
  height: 13rem;
  width: 13rem;
  text-align: center;
}

.product-item3 img {
  height: 6rem;
  width: auto;
  padding-top: 2rem;
}
.product-item3 h3 {
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 2.5rem;
  margin-bottom: 0rem;
}

/* location and hours */

.location-hours-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 960px;
}

.location-hours-item {
  width: 35%;
  margin-top: 3rem;
}

.location-hours-item h3 {
  background-color: black;
  padding: 1rem 0rem 1rem 2rem;
  margin-bottom: 0rem;
}

.location-hours-item p {
  color: black;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.footer {
  background-color: black;
  margin-top: 4rem;
}

.footer-details {
  height: 5rem;
  text-align: left;
  margin: auto;
  width: 960px;
}

.footer-details  p {
  align-items: center;
  padding-top: 2rem;
}

/* media queries */

@media only screen and (max-width: 1024px){
    .main-banner-container h1 {
      font-size: 1rem;
    }

    .navigation {
      display: none;
    }

    .navigation2 {
      display: block;
    }

    .product-item {
      width: 47%;
    }

    .product-item3 {
      display: none;
    }

    /* .location-hours-container h3 {
      width: 35%;
    }
} */

@media only screen and (min-width: 1025px) {
  .navigation1 {
    display: block;
  }

  .navigation2 {
    display: none;
  }
}
